@import '../../settings';
@import '~foundation-sites/scss/foundation';


.admin-component {
    padding: 25px;

    &__sign-out{
        display: flex;
        justify-content: flex-end;
    }

    button {
        background-color: #1f1f1f;
        color: white;
        padding: 20px;
    }

    &__welcome {
        font-size: 1rem;
    }

    h1 {
       font-weight: 600;
    }
}

.admin-panel {
    background-color: #383838;
    padding: 25px;
    color: #e4e4db;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;

    &__header {
        font-weight: 600;

        svg{
            color: #58cc8d;
        }
    }

    &__text {
        padding-left: 25px;
    }

    &__create {
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
    }

    svg {
        font-size: 25px;
        margin-right: 15px;

        &:hover {
            color: #56d7af;
        }
        
    }

    .icons {
        display: flex;
        justify-content: flex-end;
    }

    &__information {
        margin: 25px;
    }

    &__users {
        background-color: #505050;
    }

    &__owners {
        background-color: #585858;
    }

}

.create-owner {
 margin-top: 25px;
 padding: 25px;
 background-color: #383838;
 border-radius: 10px;

 h1 {
    font-weight: 600;
 }

 input {
     background-color: #505050;
     color: $white;

     &:focus {
         background-color: #505050;
     }
 }

 label{
     margin-top: 10px;
 }

 button {
    background-color: #1f1f1f;
    color: $white;
    padding: 20px;
    outline: none;
    margin-top: 15px;

    &:hover {
        background-color: #58cc8d;
        color: $black;
    }
}

  &__header {
    color: $white;
    font-weight: 600;
  }

}