@import '../../settings';
@import '~foundation-sites/scss/foundation';



.admin-component {
    padding: 25px;
}

button {
    background-color: crimson;
    color: white;
    padding: 20px;
}

.welcome {
    font-size: 1.8rem;
}

.admin-panel {
    background-color: #383838;
    padding: 25px;
    color: #e4e4db;
    margin-top: 25px;

    &__header {
        font-weight: 600;
    }

    &__content {
        
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
    }

    svg {
        font-size: 25px;
        margin-right: 10px;
        
    }

    .icons {
        display: flex;
        justify-content: flex-end;
    }

    &__information {
        margin: 25px;
    }

    &__users {
        background-color: #505050;
    }

    &__owners {
        background-color: #585858;
    }

}