@import '../../settings';
@import '~foundation-sites/scss/foundation';

.footer {
    min-height: 10vh;
    background-color: $white;
    color: lighten( $black, 10% );
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #f2f2f2;

    // @include breakpoint(large) {
    //     background-color: lighten( $black, 90% );
    //   }

}


