@import '../../settings';
@import '~foundation-sites/scss/foundation';

.header {
    min-height: 10vh;
    background-color: lighten( $black, 90% );
    color: lighten( $black, 10% );

    &__navigation {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        padding-right: 25px;
        justify-content: center;
        height: 10vh;
        font-size: 5px;

        a {
            color: lighten( $black, 10% );
        }
    
        a:hover {
            color: $dollargreen;
        }
    
        ul{
            list-style: none;
            display: flex; 
            justify-content: flex-end;
            align-items: center;
        }
    
        ul li {
            font-size: 0.8rem;
            font-weight: 500;
            padding: 10px;
            cursor: pointer;
        }
    }

  

    &__logo {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 25px;
        
        p {
            font-size: 1.8em;
        }
    }

}