@import '../../settings';
@import '~foundation-sites/scss/foundation';

a{
  color: lighten( $black, 10% );
  text-decoration: none;

  &:visited{
    color: lighten( $black, 10% );
    text-decoration: none;
  }
}

.header {
    min-height: 10vh;
    background-color: darken( $white, 0% );
    color: lighten( $black, 10% );
    border-bottom: 1px solid #f2f2f2;

    &__navigation {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        padding-right: 25px;
        padding-top: 25px;
        justify-content: center;
        height: 10vh;
        font-size: 5px;

        @include breakpoint(medium) {
            align-items: flex-end;
        }

        @include breakpoint(large) {
            align-items: flex-end;
        }
    
        ul{
            list-style: none;
            display: flex; 
            justify-content: flex-end;
            align-items: center;
        }
    
        ul li {
            font-size: 36px;
            margin-top: 25px;
            font-weight: 500;
            padding: 10px;
            cursor: pointer;

            &:hover {
                color: $dollargreen;

            }
        }
    }   

    &__logo {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
        padding-top: 2px;
        font-weight: 800;
        margin-top: 10px;
        color: $white;


        .logosvg {
            display: flex;
            fill: black;
            margin-top: 15px;
            width: 200px;

   
        }

        @include breakpoint(medium) {
            align-items: flex-start;
            padding-left: 10px;
        }

        @include breakpoint(large) {
            align-items: flex-start;
            padding-left: 10px;
        }
        
        p {
            font-size: 1.8em;
        }
    }
}