@import '../../../settings';
@import '~foundation-sites/scss/foundation';

.login-form {
    padding: 25px;
}

hr{
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.delete {
    background-color: crimson;
}

// Owner Page
.ownerPage-header{
  margin-left: 20px;

  &__bigBtn{
    display: flex;
    margin-right: 20px;

    a{
      width: 100%;
      box-sizing: border-box;
      padding: 10px 50px;
      border-radius: 5px;

      text-align: center;
      font-size: 1rem;

      color: darkgray;
      border: 1px solid darkgray;

      margin-top: 20px;
      margin-right: 5px;
      margin-left: 5px;

      p{
        margin: 0;
      }
    }
  }
}
.ownerPage-banner {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;

  &__logo{

    img{
    border-radius: 25px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    }
  }

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;

    h1{
      font-size: 2rem;
    }

    p{
      margin-bottom: 20px;
    }

    .infolinks{
      display: flex;
      .contact-link{
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;

        font-size: 1rem;
  
        color: darkgray;
        border: 1px solid darkgray;
        margin-right: 10px;
      }

      a{
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;

        font-size: 1rem;
  
        color: darkgray;
        margin-right: 10px;
      }
    }
  }
}

.ownerPage-addContent{
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;

    font-size: 1rem;

    color: darkgray;
    border: 1px solid darkgray;
    margin-top: 20px;
}

.ownerPage-messe{
  margin-left: 20px;
  margin-top: 40px;

  &__action{
    display: flex;
    align-items: center;
    width: 100%;

    .right{
      display: flex;
      margin-left: auto;
      margin-right: 35px;

      p{
        font-size: 24px;
        margin-left: 15px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
      }

      .deleteButton{
        &:hover{
          color: crimson;
        }
      }

      .refreshButton{
        &:hover{
          color: lightgreen;
        }
      }
    }

    h2{
      font-size: 2rem;
      width: fit-content;
      margin-left: 10px;
    }

    p{
      font-size: 20px;
      margin: 10px;
      margin-left: 20px;
      color: #505050;
    }
  }

  .ownerPage-item{
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    margin-right: 25px;
    margin-left: 5px;
    margin-bottom: 30px;

    &__info{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
    }

    .ownerPage-itemAction{
      display: flex;
      align-items: center;
  
      &__doctype{
        margin-left: 5px;
        p{
          color: $fullwhite;
          border-radius: 10px;
          padding: 5px 20px;
          width: fit-content;
          margin: 0;
          background-color: lightgreen;
        }

        .PDF{
          background-color: crimson;
        }

        .MP4{
          background-color: lightblue;
        }
      }
    }

    &__actions{
      display: flex;
      margin-left: auto;

      button{
        background-color: rgba(255, 0, 0, 0);
        padding: 0;
        color: #505050;
          p{
          font-size: 24px;
          margin: 0 0 0 20px;
          }
      }

      .deleteButton{
        &:hover{
          color: crimson;
        }
      }

      .refreshButton{
        &:hover{
          color: lightgreen;
        }
      }
    }
  }

  .ownerPage-item-comment{
    //margin-bottom: 30px;
    margin-left: 10px;
    display: flex;

    &__profileimg{
      img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        }
    }

    form {
      display: flex;
      width: 100%;

      input[type=text]{
        flex-grow: 1;
        height: 50px;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin: 0 10px 0 0;
        box-shadow: none;
      }

      a{
        justify-content: center;
        height: 50px;
        width: fit-content;
        padding-left: 10px;
        padding-right: 5px;

        border-radius: 10px;
    
        background-color: rgba(255, 0, 0, 0);
        color: #505050;
    
        border: none;

        &:hover{
          color: purple;
        }

        svg{
          margin-top: 10px;
          font-size: 30px;
        }
      }
    }
  }
}

// Owner Edit
.ownerEdit-addMesse{
  padding: 20px;
  margin: 50px 20px 0px 20px;
  
  display: flex;
  justify-content: center;

  border: 1px solid lightgrey;
  border-radius: 10px;

  h5{
    margin: 0;
    color: lightgray;
  }
}

.ownerEdit-addItem{
  h6{
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: 20px;
    color: lightgray;
  }
}
