@import '../../../settings';
@import '~foundation-sites/scss/foundation';

.admin-component {
    padding: 25px;

    .disabled{
      background-color: lighten($black, 90%);
      color: lighten($black, 30%);
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6px 20px;
        margin-top: 5px;
        height: 50px;
        font-size: 1rem;
        border-radius: 10px;
        background-color: $dollargreen;
        color: $white;
    
        svg {
          font-size: 24px;
          margin-left: 10px;
          margin-top: 0px;
          color: lighten( $black, 85% );;
        }
    
        &:hover {
            background-color: darken( $dollargreen, 10% );
            color: $white;
            cursor: pointer;   
        }
      }    

    &__sign-out{
        display: flex;
        justify-content: flex-end;
        button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 6px 12px;
            margin-top: 5px;
            height: 50px;
            font-size: 1rem;
            border-radius: 10px;
            background-color: $logoutred;
            color: $white;
        
            svg {
              font-size: 1.2rem;
              margin-left: 10px;
              margin-top: 0px;
              color: lighten( $black, 85% );;
            }
        
            &:hover {
                background-color: darken( $logoutred, 10% );
                color: $white;
                cursor: pointer;   
            }
          }
    }



    &__welcome {
        font-size: 1rem;
    }

    h1 {
      font-weight: 600;
      font-size: 1.8rem;
    }
}

.admin-panel {

    &__text {
        padding-left: 25px;
        font-size: 1.2rem;
    }

    &__create {
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        width: 100%;
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        padding-left: 10px;
    }

    &__information {
        margin: 20px 0 0 0;
        svg {
            font-size: 25px;
            margin-right: 15px;
            color: lighten( $black, 10% );
    
            &:hover {
                color: $dollargreen;
            }
            
        }
    }

    &__users {
        font-size: 0.9rem;
        font-weight: 500;
    }

    &__owners {
        font-size: 0.9rem;
        font-weight: 500;
    }

}

.create-owner, .create-expo {
    margin-top: 25px;
}

.comp-wrapper{
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;

  input[type=text], input[type=email], input[type=password]{
    flex-grow: 1;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: none;
  }

  label{
    margin-left: 5px;
  }
}