
@import 'settings';
@import '~foundation-sites/scss/foundation';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

.latest{
  color: $dark-gray;
  font-size: 100px;
}


.colortest{
  background-color: crimson;
}