
@import 'settings';
@import '~foundation-sites/scss/foundation';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Maven+Pro&family=PT+Sans+Narrow&display=swap');

body {
  background-color: #f7f8f6;
  font-family: 'Roboto', sans-serif;
}

.main-area {
  min-height: 80vh;
  background-color: $white;
  color: $dark-gray;
}