@import '../../../settings';
@import '~foundation-sites/scss/foundation';

// User Profile
.user-component {
  padding: 25px;

  input[type=text], input[type=email], input[type=password]{
    flex-grow: 1;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: none;
  }

  h1{
    font-size: 2rem;
    font-weight: 600;
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    margin-top: 5px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: darken( $dollargreen, 15% );
    color: $white;

    svg {
      font-size: 1.2rem;
      margin-left: 10px;
      margin-top: 0px;
    }

    &:hover {
        //background-color: darken( $dollargreen, 25% );
        color: $white;
        cursor: pointer;   
    }
  }
}

.user-information {
  margin-bottom: 25px;

  .label {
    background-color: lighten( $black, 90% );
    color: $black;
    font-size: 0.9rem;
    padding: .5rem .5rem;
}

  svg {
    font-size: 1.9rem;
    margin-left: 0px;
    margin-top: 5px;

    &:hover {
      color: $dollargreen;
      cursor: pointer;  
    }
  }

  &__text {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
  }

  &__text-blue {
    color: lighten( $bluethunder, 10% );
    font-size: 1.2rem;
  }

  &__logout {
    display: flex;

    @include breakpoint(medium) {
      justify-content: flex-end;
    }

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 6px 12px;
      margin-top: 5px;
      height: 50px;
      font-size: 1.2rem;
      border-radius: 10px;
      background-color:$logoutred;
      color: $white;

      &:hover {
        background-color: darken( $logoutred, 10% );
        cursor: pointer;  
      }
  
      svg {
        font-size: 1.2rem;
        margin-left: 10px;
        margin-top: 0px;

        &:hover{
          color: $white !important;
        }
      }
    }
  }
}

.user-bookmarks {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid;
  border-color: lighten( $black, 85% );




  &__update {
    margin-bottom: 15px;
    
    svg {
      font-size: 1.8rem;
      fill: lighten( $black, 50% );

      &:hover {
        fill: darken( $dollargreen, 10% );
        cursor: pointer;  
      }
    }

  }

  h2{
    font-weight: 1.5rem;
  }

  span{
    color: lighten( $black, 0% );
    margin-right: 10px;
  }

  &__titel {
    color: lighten( $black, 10% );
    font-size: 1.2rem;
    margin-bottom: 10px;
  

    h2{
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__text {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  &__comment {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
    margin-bottom: 10px;


      a {
        color: lighten( $black, 50% );
        font-size: 24px;

        &:hover {
          color: darken( $dollargreen, 15% );
          cursor: pointer;  
        }
      }
  }

  &__delete {
    display: flex; 
    justify-content: flex-end;

    &:hover {
      color: $dollargreen;
      cursor: pointer;  
    }

  }
}

.update-note {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  padding: 20px;
  background-color: darken( $white, 5% );
  border-radius: 10px;


  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    margin-top: 5px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color:$dollargreen;
    color: $white;

    &:hover {
      background-color: darken( $dollargreen, 10% );
      cursor: pointer;  
    }

}
}