@import '../../../settings';
@import '~foundation-sites/scss/foundation';


.color{
  background-color: blue;
}
// User Profile
.user-component {
  padding: 25px;

  h1{
    font-size: 2rem;
    font-weight: 600;
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    margin-top: 5px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    background: $logoutred;
    color: $white;

    svg {
      font-size: 1.2rem;
      margin-left: 10px;
      margin-top: 0px;
    }

    &:hover {
        background-color: darken( $logoutred, 10% );
        color: $white;
        cursor: pointer;   
    }
  }
}

.user-information {
  margin-bottom: 25px;

  svg {
    font-size: 1.9rem;
    margin-left: 0px;
    margin-top: 5px;
  }

  &__text {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
  }

  &__text-blue {
    color: lighten( $bluethunder, 10% );
    font-size: 1.2rem;
  }

  &__logout{
    display: flex; 
    justify-content: flex-end;
  }
}

.user-bookmarks {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid;
  border-color: lighten( $black, 85% );

  h2{
    font-weight: 1.5rem;
  }

  span{
    color: lighten( $black, 0% );
    margin-right: 10px;
  }

  &__titel {
    color: lighten( $black, 10% );
    font-size: 1.2rem;
    margin-bottom: 10px;
  

    h2{
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__text {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  
  &__comment {
    color: lighten( $black, 50% );
    font-size: 1.2rem;
  }

  &__delete {
    display: flex; 
    justify-content: flex-end;
  }
}